@use "sass:meta";
@use "vars";

body {
    margin: 0;
    font-family: "JetBrains Mono", serif;
    background-color: vars.$bg-color;
    color: vars.$primary;
}

.flip {
    transform: scaleX(-1);
}

main {
    margin-left: vars.$fixture-width;
    margin-right: vars.$fixture-width;
}

@include meta.load-css("title-card");
@include meta.load-css("projects");
