@use "vars";

.project {
    display: flex;
    position: relative;

    margin-bottom: 100px;
}

.project:nth-child(odd) {
    justify-content: left;
    flex-direction: row;
}

.project:nth-child(even) {
    justify-content: right;
    flex-direction: row-reverse;
}

.project:nth-child(odd) .project__photo {
    margin-right: 50px;
}

.project:nth-child(even) .project__photo {
    margin-left: 50px;
}

a {
    text-decoration: none;
}

.project__text img {
  width: 4em;
  height: auto;

  margin-right: 1em;
}

.project__title-line {
  display: flex;
  align-items: center;
}

.project h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;

    color: vars.$accent-1;
}

.project p {
    font-size: 1.5em;
}

.project__photo {
    min-width: 500px;
    width: 500px;
    height: auto;
    border-radius: 25px;
    padding: 10px;
}

.project__text {
    max-width: 50%;
}
